header{
    border: 3px solid black;
    background: #62a262;
    color: white;
    text-align: center;
 }

nav{
    border: 3px solid black;
    background: #62a262;
    color: white;
    float: left;
	min-height: 500px;
    width: calc(20% - 6px);
    text-align: center;
 }

content{
    border: 3px solid black;
    background: blue;
    float: right;
    color: #eee;
	min-height: 500px;
    width: calc(65% - 6px);
    text-align: center;
}

footer{
    border: 3px solid black;
    background: blue;
    color: #eee;
    text-align: center;
	float: right;
}
