.env{
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns:(3, 1fr);
    grid-template-rows:(7, 1fr);
    grid-gap: 10px;
    
}

.uno{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: grey;
}

.dos{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: grey;
    
}

.tres{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: grey;
}

.cuatro{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: grey;
}

.cinco{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: grey;
}


.seis{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: grey;
}


.siete{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: grey;
}


.ocho{
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: grey;
}

.nueve{ 
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: grey;
}