* {
    margin: 0px;
    padding: 0px;
}

section{
    height: 200px;
    width: 300px;
    /*CSS GRID*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /*grid-column-gap: 10px;
    grid-row-gap: 10px;*/
}


img { 
    width: 100%;
  }


.Imagen01{
    grid-area: 2 / 5 / 4 / 7;
    /*grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;*/
    z-index: 3;
}

.Imagen02{
    grid-area: 2 / 3 / 4 / 5;
    /*grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;*/
    z-index: 6;
}

.Imagen03{
    grid-area: 1 / 2 / 3 / 4;
    /*grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;*/
    z-index: 4;
}

.Imagen04{
    grid-area: 1 / 4 / 3 / 6;
    /*grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 6;*/
    z-index: 5;
}

.Imagen05{
    grid-area: 3 / 4 / 5 / 6;
    /*grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 6;*/
    z-index: 2;
}

.Imagen06{
    grid-area: 3 / 2 / 5 / 4;
    /*grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;*/
    z-index: 1;
}

/* Dispositivos pequeños (teléfonos, pantallas menores a 600px) */
/*@media only screen and (max-width: 900px) {
    .ejemplo {
        border: red solid 5px;
        background-image: url("img/koyasan-temple-7387445_960_720.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
}
*/
/* Dispositivos pequeños (tablets y teléfonos más grandes, superiores a 600px) */
/*@media only screen and (min-width: 600px) {
    .ejemplo {
        border: green solid 5px;
        background-image: url("img/istockphoto-486544876-612x612.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
}
*/
/* Dispositivos medianos (tablets más grandes, de 768px en adelante) */
/*@media only screen and (min-width: 768px) {
    .ejemplo {
       border: blue solid 5px;
        background-image: url("img/eye-7440640_960_720.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
}
*/
/* Dispositivos grandes (Portátiles y Ordenadores de escritorio, desde 900px en adelante) */
@media only screen and (min-width: 900px) {
    .Imagen01{z-index: 6;}
    .Imagen02{z-index: 4;}
    .Imagen03{z-index: 3;}
    .Imagen04{z-index: 5;}
    .Imagen05{z-index: 2;}
    .Imagen06{z-index: 1;}
}

/* Dispositivos con resoluciones muy altas (Portátiles y Ordenadores de escritorio, desde 1200px en adelante) */
/*@media only screen and (min-width: 1200px) {
    .ejemplo {
        border: pink solid 5px;
        background-image: url("img/koyasan-temple-7387445_960_720.jpg");
        background-size:contain;
        background-repeat:no-repeat;
    }
}
*/